body:not(.is-mobile) .mk-frame-props-editor {

  }
  
  .mk-frame-slides-editor {
    display: flex;
    padding: 4px;
    font-size: 12px;
    z-index: var(--layer-popover);
    background: var(--mk-ui-background-menu);
    max-height: unset;
    border-bottom: 1px solid var(--mk-ui-border);
  }

  .mk-node-flow {
    display: flex;
    flex-direction: column;
    --icon-container-size: 16px;
    --icon-size: 14px;
    align-items: flex-start;
    height: 100%;
  }
  
  .mk-path-view {
    display: flex;
    flex-direction: column;
    overflow-y:hidden;
    animation: .15s ease-out 0s 1 fadeInFromNone;
    width: 100%;
    height: 100%;
  }
  .mk-path-view iframe {
    width: 100%;
    height: 100%;
  }
  
  .mk-editor-frame-node-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: calc(100% + 10px);
    padding: 0;
    z-index: var(--layer-popover);
    gap: 10px;
    align-items: flex-start;
  }
  .mk-editor-frame-node-selector {
    --icon-size: 14px;
    display: flex;
    padding: 0;
    z-index: var(--layer-popover);
    background: var(--mk-ui-background);
    max-height: unset;
    -webkit-app-region: no-drag;
    padding: 6px;
    border: 1px solid var(--mk-ui-border);
    background-color: var(--mk-ui-background-menu);
    box-shadow: var(--shadow-s);
    user-select: none;
    border-radius: 8px;
    align-items: center;;
    height: 50px;
    white-space: nowrap
  }

  .mk-editor-frame-node-selector {
    font-size: 12px;
    width: 100%;
    overflow-x: auto;
    overflow-y: none;
  }
  .mk-editor-frame-node-menu {
    -webkit-app-region: no-drag;
    padding: 6px;
    user-select: none;
    display: flex;
  }
.mk-editor-frame-properties {
  display: flex;
  max-height: inherit;
  overflow:scroll;
  gap: 8px;
  flex-direction: column;
}
.mk-editor-frame-properties > div {
  padding: 8px;
}
.mk-editor-frame-properties > .mk-editor-actions-name {
  border-bottom: thin solid var(--mk-ui-border);
    padding: 8px;
  
}

  .mk-editor-frame-property {
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
    height: 100%;
    background: var(--mk-ui-background);
    padding: 4px 8px;
  }
  

  .mk-editor-frame-node-selector svg {
    --icon-color: var(--mk-ui-text-secondary);
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--icon-color);
  }
  .mk-editor-frame-node-selector .mk-setter-color {
    border-radius: 50%;
  }
  
  .is-mobile .mk-editor-frame-node-selector {
    
    margin-top: 0;
    
    height: 48px;
    border-top: 1px solid var(--mk-ui-divider);
  }
  
  .mk-editor-frame-node-button {
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    font-size: 13px;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    z-index: var(--layer-tooltip)
  }
  .mk-editor-frame-node-button svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  .mk-editor-frame-properties .mk-active {
    color: var(--mk-color-ui-accent);
  }
  .mk-editor-frame-properties .mk-active svg {
    
    --icon-color: var(--mk-color-ui-accent);
  }
  

  .mk-editor-frame-node-selector input {
    width: 100%;
    border: 0;
    
    background: rgba(var(--mono-rgb-100), 0.025)
  }

  .mk-editor-frame-node-selector .mk-active p {
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }

  
  .mk-editor-frame-node-selector .mk-mark-option >div:first-child {
    flex: 1;
    min-width: 80px;
    max-width: 100%;
    max-height: 100%;
  }
  .mk-editor-frame-node-button-primary {
    -webkit-app-region: no-drag;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-normal);
    font-size: var(--font-ui-small);
    border-radius: var(--button-radius);
    border: 0;
    padding: var(--size-4-1) var(--size-4-3);
    height: var(--input-height);
    font-weight: var(--input-font-weight);
    cursor: var(--cursor);
    background-color: var(--interactive-normal);
    box-shadow: var(--input-shadow);
  }
  .mk-editor-frame-node-button > div {
    display: flex;
  }
  .mk-editor-frame-node-button:hover, .mk-editor-frame-node-button.mk-active {
    background: var(--mk-ui-background-menu-hover);
  }
  
  .mk-editor-frame-node-selector .mk-mark-active {
    background: var(--mk-ui-background-menu-hover);
  }
  
  .mk-editor-frame-node-selector .mk-divider {
    border-left: thin solid var(--mk-ui-divider);
    width: 1px;
    height: 100%;
  }
  
  .mk-editor-frame-property .mk-cell-text {
    width: 100px;
    overflow:hidden;
  }
  
  .mk-setter-step {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 4px;
}
.mk-setter-step input {
width: 50px;
padding-right: 0px;
border: 0;

}

.mk-setter-step input[type=number]::-webkit-outer-spin-button, 
.mk-setter-step input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
}
.mk-setter-text span,
.mk-setter-step span {
    font-size: 12px;
    padding: 4px;
}
.mk-editor-alignment-menu {
    display: flex;
    width: 46px;
    height: 46px;
    padding: 4px;
    flex-wrap: wrap;
    gap: 4px;
}
.mk-editor-alignment-selector {
  display: flex;
  width: 10px;
  height: 10px;
  border: thin solid var(--mk-ui-border);
}
.mk-editor-alignment-selector.mk-active {
  background: var(--mk-ui-border);
}
.mk-editor-frame-property-name {
  display: flex;
    white-space: nowrap;
    font-size: 14px;
}
.mk-mark-prop {
  display: flex;
  position: absolute;
  top: 0px;
  right: -4px;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 8px;
}
.mk-mark-prop >div {
  display: flex;
  align-items: center;
  width: 5px;
  height: 5px;;
  cursor: pointer;
}
