.mk-space-editor-modal {
  height: var(--dialog-max-height)
}

.mk-space-editor-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.mk-space-editor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 12px;
    flex: 1;
    overflow: hidden;
  }
  .mk-space-editor-appearance .mk-path-icon, .mk-space-editor-appearance .mk-path-icon button, .mk-space-editor-appearance .mk-path-icon svg {
    width: 48px;
    height: 48px;
    font-size: 36px;
  }
  .mk-space-editor-appearance .mk-path-icon svg {
padding: 6px;
  }
  .mk-space-query {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .mk-space-editor-context-list {
    display: flex;
    margin-bottom: 8px;
  }
  .mk-space-editor-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: thin solid var(--mk-ui-divider);
  }
  
  .mk-space-editor-header .mk-button-new
 {
  --icon-size: 16px;
  padding: 8px

 }
  
  .mk-space-editor-header span{
flex:1
  }
  .mk-space-editor-contents {
    display: flex;
    flex-direction:column;
  gap: 4px;
  overflow: auto;
  flex: 1;
  }
  .mk-space-editor-contents .mk-path {
    overflow: visible;
  }
  .mk-space-editor-controls {
    display: flex;
justify-content: space-between
  }
  .mk-space-editor-links {
    padding: 8px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 13px;
    padding: 8px;
    background: var(--mk-ui-background-contrast);
    box-shadow: var(--mk-shadow-card);
    border: thin solid var(--mk-ui-border);
    border-radius: 10px;
  }
  .mk-space-editor-links-header {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .mk-space-editor-links span {
    flex: 1;
  }
  .mk-space-editor-smart {
    padding: 8px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 13px;
    padding: 8px;
    background: var(--mk-ui-background-contrast);
    box-shadow: var(--mk-shadow-card);
    border: thin solid var(--mk-ui-border);
    border-radius: 10px;
   
  }

  .mk-space-editor-smart-header {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .mk-space-editor-smart .mk-path {
    background: rgba(var(--mono-rgb-100),.025)
  }

  .mk-space-editor-smart .mk-path:hover {
    background: var(--mk-ui-active-hover);
  }

  .mk-space-context-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    
  }

  .mk-space-editor-smart .mk-spacer {
    flex: 1;
  }
  .mk-space-editor-smart .mk-space-editor-smart-join{
    width: 100%;
    border-bottom: thin solid var(--mk-ui-divider);
    padding-bottom: 8px;
  }

  .mk-space-editor-smart .mk-space-editor-smart-join-header {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
  }

  .mk-space-editor-smart .mk-query {
    width: 100%;gap: 8px;
    flex-direction: row;
    align-items: center;
  }


  .mk-space-editor-smart .mk-query-filters {
    background: var(--mk-ui-background-contrast);
    padding: 4px 8px;
  }

  .mk-space-editor-smart .mk-query-group {
    border: thin solid var(--mk-ui-border);
    border-radius: 8px;
  }
  
  .mk-space-editor-smart .mk-query-group-type {
    width: 24px;
    padding: 4px;
  }
  
  .mk-space-editor-appearance {
    display: flex;
    width: 100%;
gap: 16px;
align-items: center;
  }

  .mk-space-editor-input input {
    font-weight: var(--inline-title-weight);
    font-size: var(--inline-title-size);
    line-height: var(--inline-title-line-height);
    font-style: var(--inline-title-style);
    font-variant: var(--inline-title-variant);
    font-family: var(--inline-title-font);
    color: var(--inline-title-color);
    background: none;
    outline: none;
    border: none;
  }
.mk-space-editor-smart span {
  text-wrap: nowrap;
}

  .mk-space-context-bar {
    display: flex;
    gap: 1px;
    align-items: center;
    font-size: 14px;

    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .mk-space-context-bar-section:empty {
    display: none !important;
  }

  
  .mk-space-context-bar-section .mk-toolbar-button {
    height: 22px;
    padding: 2px 8px !important;
    border-radius: 0;
  }
  .mk-space-context-bar .mk-space-context-bar-section {
    display: flex;

    gap: 4px;
    align-items: center;
    background: var(--mk-ui-background-contrast);
    font-size: 11px;
    color: var(--mk-ui-text-secondary)
  }

  .mk-space-context-bar .mk-space-context-bar-section > div {
    padding: 2px 8px;
    text-wrap: nowrap;
    
  }

  .mk-space-context-bar .mk-spacer {
    flex: 1;
  }