.mk-space-view {
  height: 100%;
  
}


.mk-th {
  position: relative;
}

.is-mobile .mk-resizer {
  width: 8px;
  opacity: 0.05;
}
.mk-resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: var(--mk-ui-divider);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0;
}

.mk-resizer.mk-resizer-active {
  opacity: 1;
}

.mk-resizer.isResizing {
  background: var(var(--mk-ui-active-hover));
  opacity: 1;
}

.mk-resizer:hover {
  opacity: 1;
}

.mk-col-header {
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 4px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: var(--font-normal);
  color: var(--mk-ui-text-secondary);
  text-transform: capitalize;
}

.mk-col-header > div {
  display: flex;
  gap: 4px;
  width:100%;
  align-items: center;
}
.mk-col-header-context {
  margin-left: 4px;
  color: var(--mk-ui-text-tertiary);
}

.mk-td-aggregate {
  padding: 0.5rem;
  text-align: right;
}

.mk-td-aggregate div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 8px;
}


.mk-td-aggregate span {
  color: var(--mk-ui-text-tertiary);
  font-size: 13px;
}

.mk-td-aggregate.mk-empty div {
  opacity: 0;
}
.mk-td-aggregate:hover.mk-empty div {
  opacity: 1;
}

.mk-td {
  padding: 0.5rem;
  vertical-align: top;
}

.mk-td > div {
  min-height: 28px;
}

.mk-td-group {
  background-color: var(--mk-ui-background);
  padding: 0.5rem;
  border-top: 0.5px solid var(--mk-ui-divider) !important;
  font-size: 13px;
  font-weight: var(--bold-weight);
}
.mk-td-group .mk-cell-option {
  width: unset;
}
.mk-td-group .mk-cell-option-item {
  background: none;
}
.mk-td-group .mk-cell-option-item div:hover {
  background: none;
}
.mk-td-empty {
  padding: 0 !important;
}

.mk-td input[type="text"],
.mk-td input[type="number"] {
  display: table-cell;
  width: 100%;
  border: 0;
  outline: 0;
}
.mk-table {
  width: 100%;
  overflow-x: scroll;
}




.mk-table table {
  border-spacing: 0;
}

.mk-table table th:last-child {
  width: 100%;
}

.mk-table th:hover {
  background: var(var(--mk-ui-active-hover));
}

.mk-table tr th:first-child .mk-col-header,
.mk-table tr td:first-child {
  padding-left: calc(24px - 0.75rem);
}

.mk-cell-empty {
  color: var(--mk-ui-text-tertiary);
}

.mk-td img {
  max-height: 45px;
}

.mk-table tr td:first-child.mk-td-empty {
  padding-left: calc(24px - 0.75rem) !important;
}

.mk-table td {
  border-top: 0.5px solid var(--background-modifier-border) !important;
  font-size: 13px;
}

.mk-table .mk-td:not(:last-child) {
  border-right: 0.5px solid var(--background-modifier-border) !important;
}

.mk-cell-object {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 8px;
  width: 100%;
}
.mk-object-editor {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mk-cell-object-multi  {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mk-cell-object-options {
  display: flex;
  gap: 8px;
}
.mk-cell-object-group-header {
  display: flex;
  gap: 8px;
  font-size: 14px;
  font-weight: var(--bold-weight);
  color: var(--mk-ui-text-tertiary);
  margin-top: 8px;
  margin-bottom: 4px;
}

.mk-cell-object-group {
  
  display: flex;
  align-items: flex-start;
    flex-direction: column;
}
.mk-cell-object .mk-path-context-field-key {
  width: 100%;
  border: none;
  border-radius: 0px;
  height: 24px;
}

.mk-cell-object .mk-path-context-field-key:not(:focus) {
  background: unset !important;
}
.mk-cell-object-row {
  display: flex;
}

.mk-cell-text {
  white-space: pre-line;
  width: 100%;
  min-height: 24px;
  padding: 4px 4px;
}

.mk-cell-text:empty::before {
  content: attr(data-ph);
  color: var(--mk-ui-text-tertiary);
}

.mk-table .mk-cell-text {
  padding: 4px;
}
.mk-cell-number {
  padding: 4px;
  text-align: right;
}
.mk-table .mk-cell-text:not(:focus) {
  background: unset !important;
}

.mk-cell-image-item:hover > .mk-image-selector {
  visibility: visible;
}
.mk-cell-image {
  color: var(--mk-ui-text-tertiary);
  position: relative;
  height:100%;
  display: flex;
  gap: 8px;
}
.mk-cell-image img {
  min-width: 60px;
  min-height: 60px;
}
.mk-path-context-value  .mk-cell-image img{
height: 60px;
}
.mk-button-new {
  background: var(--mk-ui-active) !important;
  color: var(--text-on-accent) !important;
}
.mk-button-new svg {
  width: var(--icon-size);
  height: var(--icon-size);
}
.mk-image-selector {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;
  z-index: var(--layer-popover);
  padding: 4px;
  display: flex;
  gap: 6px;
}

.mk-cell-image img {
  max-height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.mk-cell-date {
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
}
.mk-cell-date .mk-cell-date-new {
  color: var(--mk-ui-text-tertiary);
}
.mk-cell-date .mk-cell-date-item {
  background: rgba(var(--mono-rgb-100), 0.025);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    height: 24px;
    padding: 2px 4px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 2px 4px;
}

.mk-cell-date-item:hover {
  background: var(--mk-ui-active-hover);
}
.mk-cell-link,
.mk-cell-context,
.mk-cell-tags,
.mk-cell-option {
  width: 100%;
  min-height: 24px;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
}

.mk-cell-context .mk-path,
.mk-cell-link  .mk-path {
  
  background: var(--mk-color-none);
}

.mk-cell-context .mk-path:hover,
.mk-cell-link  .mk-path:hover {
  background: var(--mk-ui-background-hover);

}

.mk-celllink .mk-path span {
  max-width: 100px;
}
.mk-cell-boolean {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.mk-td .mk-cell-option-item {
  max-width: 120px;
}
.mk-cell-space {
  display: flex;
  gap: 8px;
}
.mk-cell-clickable {
  background: rgba(var(--mono-rgb-100), 0.025);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    height: 24px;
    padding: 2px 4px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 2px 4px;
}
.mk-cell-tags-label, .mk-cell-option-item {
  background: rgba(var(--mono-rgb-100), 0.025);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 2px;
  white-space: nowrap;
  height: 24px;
  padding: 2px 4px;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mk-cell-option-item.mk-active {
  background: var(--mk-ui-active) !important;
}
 
.mk-cell-option-item input {
  margin: 0;
}



.mk-cell-icon > div {
  display: flex;
  width: 24px;
  height: 24px;
  background: rgba(var(--mono-rgb-100), 0.025)
}
.mk-cell-icon .mk-cell-placeholder {
  width: auto;
}



.mk-cell-option-item:hover {
  background: var(--mk-ui-active-hover);
}

.mk-cell-fileprop {
  padding: 4px;
  color: var(--mk-ui-text-secondary);
  width: 100%;;
}
.mk-cell-file {
  display: flex;
  align-items: center;
}

.mk-cell-file-title {
  font-size: 15px;
  margin-bottom: 8px;
}

.mk-cell-file-new {
  display: flex;
  align-items: center;
}
.mk-cell-file-new .mk-path-icon svg {
  color: var(--mk-ui-text-tertiary);
}

.mk-table:focus .mk-active {
  background: var(--mk-ui-background-selected) !important;
}

.mk-floweditor .mk-table:not(:focus) .mk-active {
  background: none !important;
}

.mk-table:focus .mk-active .mk-selected-cell {
  outline: solid 2px var(--mk-ui-active);
}

.mk-cell-file-new .mk-path-icon:hover {
  background: var(var(--mk-ui-active-hover));
}

.mk-cell-file-item {
  display: flex;
  align-items: center;
}
.mk-cell-file-item .mk-path-icon:hover {
  background: var(var(--mk-ui-active-hover));
}

.mk-cell-file-item .mk-cell-file-name {
  padding: 2px 4px;
  border-radius: 4px;
}

.mk-cell-file-item .mk-cell-file-name:hover {
  background: var(var(--mk-ui-active-hover));
}


.mk-cell-file-new .mk-cell-file-name {
  padding: 4px !important;
  background: none !important;
}

.is-phone .mk-cell-file-flow {
  display: none;
}

.mk-list-item .mk-cell-file-flow {
  visibility: hidden;
  margin-left: 4px;
  padding: 2px 4px;
}

.mk-list-item:hover .mk-cell-file-flow {
  visibility: visible;
}

.is-phone .mk-list-item .mk-cell-file-flow {
  width: unset;
  visibility: unset;
}

.mk-list-item .mk-cell-file-flow:hover {
  border-radius: 4px;
  background: var(var(--mk-ui-active-hover));
}

.mk-row-new[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: var(--mk-ui-text-tertiary); 
}

.mk-row-new {
  text-align: left;
  border-top: 0.5px solid var(--mk-ui-divider) !important;
  padding: 8px 24px !important;
  font-weight: normal !important;
  color: var(--mk-ui-text-tertiary) !important;
  font-size: 13px !important;
}

.markdown-rendered .mk-table td,
.markdown-rendered .mk-table th {
  border: unset;
}

.mk-row-new:hover {
  background: var(--mk-ui-background-hover);
}

.mk-icon-medium svg {
  width: 24px;
  height: 24px;
  color: var(--mk-ui-text-primary);
}

.mk-icon-small svg {
  width: 16px;
  height: 16px;
  stroke: var(--mk-ui-text-secondary);
}
.mk-icon-medium,
.mk-icon-small,
.mk-icon-xsmall {
  display: flex;
  align-items: center;
}

.mk-icon-xxsmall svg {
  width: 10px;
  height: 10px;
  color: var(--mk-ui-text-secondary);
}

.mk-icon-xsmall svg {
  width: 12px !important;
  height: 12px !important;
}

.mk-icon-rotated svg {
  transform: rotate(90deg);
}

.mk-cell-link-item {
  color: var(--link-color);
  display: flex;
}
.mk-cell-option span {
  flex-grow: 1;
  overflow:hidden;
}

.mk-cell-option-placeholder {
  color: var(--mk-ui-text-tertiary)
}

.mk-cell-option-select, .mk-cell-option-remove {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
}

.mk-cell-option-select svg, .mk-cell-option-remove svg {
color: var(--mk-ui-text-primary)
}

.mk-cell-option-select:hover, .mk-cell-option-remove:hover , .mk-cell-clickable:hover{
  background: var(--mk-ui-background-hover);
}
.mk-cell-option-new {
  visibility: hidden;
  background: rgba(var(--mono-rgb-100), 0.025);
  padding: 4px;
  display: flex;
  border-radius: 4px;
  height: 24px;
width: 24px;

}

.mk-cell-option-new:hover {
  background: var(--mk-ui-background-hover);  
}
.mk-cell-tags:hover .mk-cell-option-new,
.mk-cell-link:hover .mk-cell-option-new,
.mk-cell-context:hover .mk-cell-option-new,
.mk-cell-option:hover .mk-cell-option-new {
  visibility: visible;
}

.mk-cell-link-unresolved {
  color: var(--link-unresolved-color);
  opacity: var(--link-unresolved-opacity);
  filter: var(--link-unresolved-filter);
}

.mk-cell-link-unresolved:hover {
  color: var(--link-unresolved-color);
  opacity: var(--link-unresolved-opacity);
  filter: var(--link-unresolved-filter);
}
