.mk-floweditor .workspace-leaf {
  all: unset;
}


.mk-floweditor > .workspace-leaf > .workspace-leaf-content > .view-header {
  display: none;
}
.mk-floweditor > .workspace-leaf > .workspace-leaf-content {
  border: 0 !important;
}

.mk-floweditor-container > .mk-floweditor > .workspace-leaf > .workspace-leaf-content > .view-content > .mod-cm6 {
  padding: 8px 8px 8px 18px;
    border: thin solid var(--mk-ui-active-hover);
    margin: 8px 0px;
    background: rgba(var(--mono-rgb-100), 0.025);
    border-radius: 8px;
}

.mk-floweditor.hover-editor .popover-content {
  margin: 0;
  overflow: hidden;
}

.mk-floweditor .markdown-preview-view {
  padding: 0;
}

.mk-floweditor.hover-editor .popover-content .workspace-split {
  display: none;
}

.mk-floweditor.hover-editor .workspace-leaf,
.mk-floweditor.hover-editor .workspace-split {
  height: 100%;
  width: 100%;
}

.mk-floweditor .markdown-source-view.mod-cm6 .cm-editor {
  min-height: auto;
}

.mk-floweditor .embedded-backlinks, .mk-floweditor .metadata-container {
  display: none !important;
}

.mk-floweditor .workspace-leaf-content[data-type="canvas"] .view-content {
  min-height: 600px;
  height: calc(100vh - 100px);
}
.mk-flow-container .mk-floweditor .cm-content,
div:not(.mk-flowspace-editor) >
.mk-floweditor .cm-content {
  padding: 0 !important;
}

/* FIXES THEMES LIKE ATOM */
.markdown-source-view.mod-cm6 .cm-content > .internal-embed.markdown-embed {
  contain: unset !important;
}
.mk-toggle-on {
  color: var(--mk-ui-active);
}

.mk-floweditor .view-content {
  background: none !important;
}

.mk-floweditor .view-content .pdf-container {
  min-height: 600px;
}

.mk-floweditor-sticker {
  display: inline-block;
  --icon-container-size: 20px;
  --icon-size: 13px;
}
.mk-floweditor-toggle {
  display: inline-block;
  --icon-container-size: 20px;
  --icon-size: 16px;
}



.mk-floweditor-placeholder {
  border: thin solid var(--mk-ui-divider);
}
.mk-floweditor .mk-floweditor-title-container {
  display: flex;
}



.mk-floweditor-title {
  padding: 8px 0px;
  margin: 0;
  margin-top: 8px;
  border-top: 1px solid var(--mk-ui-border);
  width: 100%;
  display: flex;
}
.mk-floweditor-title:hover {
  background: var(--mk-ui-background-hover);
}
.mk-floweditor-title div:not(.collapse) svg {
  transform: rotate(0deg);
}

.mk-floweditor-title .collapse svg {
  transform: rotate(90deg);
}

.mk-floweditor-title svg {
  margin-left: 4px;
  width: 10px;
  height: 10px;
}
.mk-flow-hover {
  margin-top: -34px;
  margin-left: -34px;
}

.mk-flow-hover > div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mk-flow-minimal
  .mk-floweditor-container:not(.mk-floweditor-fix)
  > .mk-floweditor {
  padding: 8px;
  border-radius: 4px;
  border-left: thin solid var(--mk-ui-divider);
}

.mk-flow-minimal .markdown-embed-title,
.mk-flow-seamless .markdown-embed-title {
  display: none;
}
.mk-foldernote > .mk-floweditor > .popover-content > .mk-flow-titlebar,
.mk-flow-minimal .mk-flow-titlebar,
.mk-flow-seamless .mk-flow-titlebar {
  display: none;
}

.mk-flow-classic .mk-flow-titlebar {
  font-weight: var(--bold-weight);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px 24px;
}

.mk-flow-classic .mk-flow-titlebar:empty {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.mk-flow-classic
  .mk-floweditor-container:not(.mk-floweditor-fix)
  > .mk-floweditor {
  font-style: var(--embed-font-style);
  background-color: var(--embed-background);
  border-top: var(--embed-border-top);
  border-right: var(--embed-border-right);
  border-bottom: var(--embed-border-bottom);
  border-left: var(--embed-border-left);
  padding: var(--embed-padding);
}

.mk-flow-minimal .internal-embed > .markdown-embed,
.mk-flow-minimal .internal-embed.markdown-embed {
  padding: 8px;
  border-radius: 4px;
  border: thin solid var(--mk-ui-divider);
  margin-top: 4px;
}

.mk-flow-seamless .internal-embed > .markdown-embed,
.mk-flow-seamless .internal-embed.markdown-embed {
  margin-top: 4px;
}

.mk-flow-classic .internal-embed > .markdown-embed,
.mk-flow-classic .internal-embed.markdown-embed {
  margin-top: 24px;
}

.internal-embed > .markdown-embed .markdown-rendered h1,
.internal-embed > .markdown-embed .markdown-rendered h2,
.internal-embed > .markdown-embed .markdown-rendered h3,
.internal-embed > .markdown-embed .markdown-rendered h4,
.internal-embed > .markdown-embed .markdown-rendered h5,
.internal-embed > .markdown-embed .markdown-rendered h6,
.internal-embed.markdown-embed .markdown-rendered h1,
.internal-embed.markdown-embed .markdown-rendered h2,
.internal-embed.markdown-embed .markdown-rendered h3,
.internal-embed.markdown-embed .markdown-rendered h4,
.internal-embed.markdown-embed .markdown-rendered h5,
.internal-embed.markdown-embed .markdown-rendered h6 {
  margin: 0;
}

.markdown-embed p {
  margin-bottom: 24px;
}
.mk-flow-minimal .internal-embed > .markdown-embed,
.mk-flow-minimal .internal-embed > .markdown-embed,
.mk-flow-seamless .internal-embed.markdown-embed,
.mk-flow-seamless .internal-embed.markdown-embed {
  margin-top: 24px;
}

.mk-floweditor-container:not(.mk-floweditor-fix) > .mk-floweditor:hover {
}

.mk-floweditor-container {
  min-height: var(--flow-height);
}
.mk-floweditor > .workspace-leaf > .workspace-leaf-content, .mk-floweditor > .workspace-leaf > .workspace-leaf-content > .view-content, .mk-floweditor > .workspace-leaf > .workspace-leaf-content > .view-content > .mod-cm6 > .cm-editor > .cm-scroller {
  overflow: visible !important;
  height: auto;
}

.mk-floweditor-container > .mk-floweditor {
  border: thin solid transparent;  
}



.mk-flow-minimal .mk-floweditor-container > .mk-floweditor:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
    0px 3.4px 6.7px rgba(0, 0, 0, 0.06), 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.mk-floweditor-container {
  display: inline-block;
  width: 100%;
}

.cm-tooltip-hover {
  margin-bottom: 30px;
}

.mk-floweditor-fix > .mk-floweditor {
  margin-top: -28px;
}

.cm-tooltip {
  border: none !important;
  z-index: var(--layer-popover) !important;
}

.cm-line:hover > .mk-floweditor-selector, .mk-floweditor-selector:hover {
  visibility: visible;
}

.internal-embed.markdown-embed:hover .mk-floweditor-selector,
.internal-embed > .markdown-embed:hover .mk-floweditor-selector {
  visibility: visible;
}

.mk-floweditor-selector {
  --icon-size: 14px;
  position: absolute;
  right: 0px;
  top: -34px;
  z-index: var(--layer-popover);
  display: flex;
  visibility: hidden;
}

.mk-flowblock-menu {
  padding: 4px;
  margin-bottom: 4px;
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  font-size: 14px;
  background: var(--mk-ui-background);
  gap: 8px;
  border: thin solid var(--mk-ui-border);
  border-radius: 4px;
  box-shadow: var(--mk-shadow-card)
}
.mk-cell-image .mk-hover-button:hover {
  color: var(--mk-ui-text-primary); 
  background: var(--mk-ui-background-contrast)
}

button.mk-hover-button {
  --icon-size: 12px;
  font-size: 12px;
  padding: 4px 8px;
  display: flex;
  gap: 4px;
  border: thin solid var(--mk-ui-border-overlay);
  border-radius: 4px;
  background: var(--mk-ui-background-overlay);
}



.mk-cell-image .mk-hover-button {
  
  color: var(--mk-ui-text-secondary);
  
}

.mk-flowblock-menu .mk-toolbar-button {
  height: 24px;
}

.mk-hover-button svg {
  width: var(--icon-size);
  height: var(--icon-size)
}

.mk-flowblock-menu .mk-hover-button:last-child {
  border-right: none;
}

.mk-flowblock-menu .mk-hover-button:hover {
  background: var(--nav-item-background-hover);
  border-radius: 4px;;
}



.mk-floweditor
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-content
  > .markdown-source-view.mod-cm6
  > .cm-editor
  > .cm-scroller {
  padding: 0;
}

.mk-floweditor
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-content
  > div
  > .mk-table {
  padding-bottom: 10px !important;
}
