.mk-space-scroller > .mk-cards-container {
  padding-bottom: 60px;
}
.mk-cards-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y:visible;
  
}
.mk-cards-container .mk-list-content > .mk-flowspace-editor {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.mk-cards-container .mk-list-view {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 20px;
}
.mk-space-scroller > .mk-cards-container .mk-list-view{ padding: 20px;}
.mk-cards-container .mk-list-item {
  border-radius: 4px;
  list-style: none;
  background: var(--background-secondary);
  overflow: hidden;
  font-size: var(--font-ui-small);
  color: var(--text-muted);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
    0px 3.4px 6.7px rgba(0, 0, 0, 0.06), 0px 15px 30px rgba(0, 0, 0, 0.15);
}
.mk-cards-container .mk-list-group {
  width: 200px;
}
.mk-cards-grid .mk-list-item {
  width: calc((var(--file-line-width) / 3) - 7px)
}
.mk-cards-container .mk-path-icon svg {
  display: none;
}
.mk-cards-grid .mk-list-group {
  width: 100% !important;
}
.mk-cards-grid .mk-list-group ul {
  flex-direction: row !important;
  flex-wrap: wrap;
}
.mk-cards-container .mk-list-group ul {
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mk-list-container .mk-list-group-header {
  display: flex;
  padding: 12px 24px 4px 24px;
  background-color: var(--titlebar-background);
}

.mk-list-container .mk-list-group-header > div {
  background: none !important;
}

.mk-floweditor > .workspace-leaf > .workspace-leaf-content >.view-content > div > .mk-list-container
{
  padding-bottom: 0;
}
.mk-floweditor > .workspace-leaf > .workspace-leaf-content >.view-content > div > .mk-list-container .mk-list-item {
  padding: 8px;
}
.mk-space-scroller > .mk-list-container {
  padding-bottom: 100px;
}
.mk-list-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  
}
.mk-list-container .mk-list-view {
  display: flex;
  flex-direction: column;
}
.mk-cards-container .mk-list-item.mk-is-active,
.mk-list-container .mk-list-item.mk-is-active {
  background: var(--background-modifier-active-hover);
}

.mk-list-container .mk-list-item {
  display: flex;
  padding: 8px;
  list-style: none;
  font-size: var(--font-ui-small);
  color: var(--text-muted);
  align-items: flex-start;
}

.mk-list-container .mk-list-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-bottom: thin solid var(--divider-color);
  min-height: 69px;
}
.mk-list-container .mk-list-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}
.mk-list-container .mk-list-fields > div{
  margin-bottom:-8px;
}
.mk-list-container
  .mk-list-fields
  > div:not(.mk-cell-file):not(.mk-cell-image) {
  width: unset !important;
}
.mk-list-container .mk-list-fields > .mk-cell-image {
  width: 100%;
}
.mk-list-container .mk-list-group {
  width: 100%;
}
.mk-cards-container .mk-cell-file-title,
.mk-list-container .mk-cell-file-title {
  padding: 4px;
  color: var(--text-normal);
  margin-bottom: 0;
}
.mk-list-container .mk-list-fields .mk-cell-file {
  width: 100%;
  font-weight: var(--bold-weight);
}
.mk-cards-container .mk-list-fields {
  padding: 12px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.mk-list-fields .mk-cell-file-preview {
  width: 100%;
  color: var(--text-normal);
  margin-bottom: -8px;
  color: var(--text-faint);
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.mk-list-container .mk-list-group ul {
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}
.mk-path-preview {
  background: var(--label-color);
}
.mk-list-container .mk-path-preview {
  min-width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mk-list-group-header .mk-cell-option-item {
  background: none !important;
}
.mk-cards-container .mk-path-preview {
  position: relative;
  margin-bottom: 4px;
  height: 80px;
}

.mk-cards-container .mk-path-icon {
  position: absolute;
  bottom: -6px;
  font-size: 24px;
  left: 14px;
}

.mk-list-container .mk-path-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mk-context-view-editor {
  flex: 1;
}
.mk-context-view-menu {
  display: flex;
  padding: 8px;
  gap: 8px;
margin-top: 8px;
    background: var(--background-primary);
    padding: var(--size-2-3);
    border: 1px solid var(--background-modifier-border-hover);
    background-color: var(--background-secondary);
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-s);
    font-size: var(--font-ui-small)
}
.mk-context-view-menu span {
  flex: 1;
}
.mk-context-view-menu .mk-divider {
  padding: 0;
}
.mk-context-view-menu .mk-cta {
  background: var(--interactive-accent);
  color: var(--text-on-accent) !important;


}
.mk-context-view-menu > div {
  padding: 4px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.mk-context-view-editor .mk-td {
  white-space: nowrap;
}
.mk-context-view-selector {
display: flex;
padding: 12px 24px;
gap: 8px;
border-top: thin solid var(--divider-color)
}

.mk-context-view-selector > div {
width: 50px;
overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   text-align: center;
}