.is-phone .mk-context-maker {
  max-height: 100vh;
}
.mk-context-maker-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mk-context-maker .modal-content {
  height: var(--dialog-max-height);
  overflow-y: scroll;
}
.mk-context-maker-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 16px;
    padding: var(--size-4-4);
    flex-grow: 1;
    overflow: scroll;
    padding-bottom: 0;

  }
  .mk-context-maker-item {
    background: rgba(var(--mono-rgb-100), 0.025);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2px;
  padding: 8px;
  }
  .mk-context-maker-selector {
    font-size: var(--font-ui-small);
    height: 240px;
    overflow-y: scroll;
    background: rgba(var(--mono-rgb-100), 0.025);
    padding: var(--size-4-4);
    border-radius: 4px;
    
  }
  .mk-context-maker-selector .mk-cell-option {
    margin-bottom: 8px;
  }
  .mk-context-maker-builder {
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 4px;
  }
  .mk-property-editor-context-title {
    display: flex;
    font-size: var(--font-ui-small);
    font-weight: var(--font-normal);
    padding: var(--size-4-2) var(--size-4-1)
  }
  .mk-property-editor-context-title span {
    flex: 1;
  }
  .mk-property-editor-context-tag {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .mk-property-editor {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 8px;
  }
  .mk-property-editor-property { 
    display: flex;
    padding: 8px;
    font-size: var(--font-ui-small);
    color: var(--text-muted);
    gap: 6px;
    align-items: center;
    background: var(--background-modifier-cover);
    border-radius: 6px;
  }
  .mk-property-editor-new:hover {
    color: var(--text-normal);
  }
  .mk-property-editor-new span {
    font-size: var(--font-ui-smaller)
  }
  .mk-property-editor-new {
    color: var(--text-faint);
    display: flex;
    flex-direction:column;
    padding: var(--size-4-2) var(--size-4-2);
    border: thin solid var(--divider-color);
    border-radius: 8px;
  }
  

  .mk-property-editor-context-title {
    font-size: var(--font-ui-medium);
    font-weight: var(--font-semibold);
    line-height: var(--line-height-tight);
    padding:var(--size-4-2) var(--size-4-1);
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .mk-property-editor-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .mk-property-editor-context-title span, .mk-property-editor-list span {
    font-size: var(--font-ui-smaller);
    color: var(--text-faint);
    flex: 1;
  }

  .mk-context-properties-new {

  }