.mk-hide-tabs
  .mod-left-split
  .mod-top-left-space
  .workspace-tab-header-container-inner {
  visibility: hidden;
}

.is-phone .mod-root .workspace-tabs:not(.mod-visible) {
  display: flex !important;
  }

.mk-spaces-enabled.is-mobile.mk-hide-ribbon
  .workspace-drawer.mod-left
  .workspace-drawer-inner {
  padding-left: 0 !important;
}

.mk-hide-ribbon .workspace-ribbon {
  display: none;
}

.mk-hide-ribbon.is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-left-space
  .workspace-tab-header-container:before {
  width: calc(var(--frame-left-space) + var(--ribbon-width));
}

.mk-hide-ribbon.is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-left-space
  .workspace-tab-header-container {
  padding-left: calc(var(--frame-left-space) + var(--ribbon-width));
}

.mk-spaces-enabled.is-mobile.mk-hide-ribbon .workspace-drawer-ribbon {
  display: none;
}

.mk-spaces-enabled.is-mobile
  .workspace-drawer.mod-left
  .workspace-drawer-inner
  .workspace-drawer-header {
  padding-left: 0 !important;
}

.mk-spaces-enabled.is-mobile
  .workspace-drawer.mod-left
  .workspace-drawer-active-tab-header {
  display: none;
}

.mk-spaces-enabled.is-mobile
  .workspace-drawer.mod-left
  .workspace-drawer-inner
  .mod-settings {
  display: none;
}
.is-mobile .workspace-drawer.mod-left .workspace-drawer-header-left .mk-main-menu-container{
  margin-right: 34px;
}
.is-mobile .mk-sidebar button:not(.clickable-icon) {

}

.is-mobile .mk-sidebar .mk-path-icon button {
  font-size: 16px;
  margin: 0;
  height: 24px;
  width: 24px;
}

body.is-mobile .sidebar-toggle-button {
  display: flex !important;
}

.is-mobile .workspace-drawer.mod-left .workspace-drawer-header-icon {
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 100;
}

.is-phone .workspace-drawer.mod-left .workspace-drawer-header-icon {
  top: 20px;
}

.is-mobile .workspace-drawer.mod-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mk-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.is-mobile .mk-sidebar {
  /* flex-direction: column-reverse; */
}

.mk-path-tree {
  flex: 1;
  overflow: hidden;
  /* -webkit-overflow-scrolling: touch; */
}
.mk-context-tree .tree-item {
  padding: 4px;
}

.mk-context-tree .tree-item-self {
  margin-left: var(--spacing);
  align-items: center;
  padding: 2px 2px;
}

.mk-context-tree .mk-tree-wrapper {
  padding: 0px !important;
}

.mk-context-tree .mk-section-title .mk-tree-text {
  padding: 0.25rem 0.3rem;
}

.mk-context-tree .mk-section-title {
  padding-left: 4px;
  padding-right: 4px;
}
