.mk-slash-item {
  display: flex;
  align-items: center;
}
.mk-slash-icon {
  display: flex;
  margin-right: 8px;
}
.mk-slash-icon svg {
  width: 16px;
  height: 16px;
}
.cm-active.cm-placeholder:before {
  content: attr(data-ph);
  color: var(--text-faint);
  position: absolute;
}
