.mk-input {
    background-color: var(--background-primary);
    border: none;
    border-radius: 0;
}

.mk-border-bottom {
    border-bottom: 1px solid var(--background-secondary);
}

.mk-input-large {
    padding: var(--size-4-6);
    font-size: var(--font-ui-medium);
    height: 40px;
}