

.mk-new-note {
  flex-grow: 1;
  padding: 8px 12px;
  font-size: var(--font-ui-smaller);
  display: flex;
  align-items: center;
}

.tag-container {
  flex: 1;
}

.mk-button-blink {
  padding: 8px 12px !important;
}

.mk-new-note p {
  margin: 0;
  margin-left: 8px;
  padding: 0;
}

.mk-new-note svg {
  width: 16px;
  height: 16px;
}

.mk-search {
  display: flex;
  padding: 8px 8px;
  margin: 4px 12px;
  margin-left: 0px;
}

.mk-search svg {
  width: 16px;
  height: 16px;
}

.mk-waypoint {
  display: flex;
}
.mk-waypoint-new {
  display: flex;
  align-items: center;
  color: var(--text-muted);
  opacity: .5
}
.mk-waypoint-new:hover {
  opacity: 1;
}

.mk-waypoint .mk-waypoints-item {
  display: flex;
  justify-content: center;
}

.is-mobile .mk-waypoints {
  background: var(--background-primary);
    border-top: thin solid var(--divider-color);
    box-shadow: var(--input-shadow);
}
.is-mobile .mk-waypoints > div {
  gap: 8px;
}
.mk-waypoints {
  display: flex;
  overflow: auto;
  padding: var(--size-4-3) var(--size-4-3) var(--size-4-1) var(--size-4-3);
}

.mk-sidebar-expanded {
  flex-grow: 1;
}

.mk-waypoint:hover .mk-waypoints-item:not(.mk-active) {
  background: var(--nav-item-background-hover);
}
.mk-waypoints-item {
  color: var(--text-muted);
  height: 30px;
  min-width: 30px;
  padding: 6px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-size: var(--font-ui-normal);
  color: var(--icon-color);
  
  transition: transform 250ms ease;
}
.mk-waypoints-item svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.is-mobile .mk-waypoints-item {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}


.mk-waypoints-item.mk-active {
  --label-color: var(--background-modifier-active-hover);
  color: var(--text-n);
    background-color: var(--label-color);
  opacity: 1;
}

