.mk-section {
  display: flex;
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  width: 100%;
  justify-content: space-between;
  margin-left: 0;
}

.mk-section-wrapper {
  padding-top: 8px !important;
}


.mk-section-tabs {
  display: flex;
  border-bottom: 1px solid var(--divider-color);
}

.mk-section-tabs .mk-is-active {
  background: none;
  font-weight: var(--bold-weight);
  color: var(--text-normal);
}

.mk-section-tabs .mk-section-title {
  font-weight: var(--normal-weight);
  background: none;
  flex: 1;
    display: flex;
    justify-content: center;
    padding: 12px;
    gap: 8px;
    height: unset;
    flex-direction: column;
}

.mk-section-title {
  height: 24px;
  display: flex;
  min-width: 0;
  align-items: center;
}

.mk-section-title .mk-tree-text {
  padding: 0.25rem 0.3rem;
}



.mk-section .mk-collapse svg {
  margin: 4px;
  width: 8px;
  height: 8px;
}
