.mk-date-picker-container {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px;
    width: 280px;
    flex-direction: column;
}

.mk-date-picker {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.mk-date-picker table {
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.mk-date-picker-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    --icon-size: 16px;
    --icon-container-size: 24px;
}

.mk-date-picker-time {
    display: flex;
    gap: 8px;
    align-items: center;
    --icon-size: 16px;
    --icon-container-size: 30px;
}


.mk-date-picker-time input {
    width: 40px;
    text-align: right;
    padding: 4px;
    border-radius: 4px;
    border: thin solid var(--mk-ui-border);
}


.mk-date-picker-time svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

.mk-date-picker-header button, .mk-date-picker-time button {
    background: none;
    box-shadow: none;
    border: thin solid var(--mk-ui-border);
    width: var(--icon-container-size);
    height: var(--icon-container-size);
    padding: 0;
}

button.mk-date-picker-day.mk-date-picker-today {
    background: var(--mk-ui-background-active);
}

button.mk-date-picker-day.mk-date-picker-selected {
    background: var(--mk-ui-background-reverse);
    color: var(--mk-ui-text-reverse)
}

.mk-date-picker-header button svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

button.mk-date-picker-day {
    width: 100%;
    background: none;
    box-shadow: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 4px;
}

button.mk-date-picker-day:not(.mk-date-picker-selected):hover {
    background: var(--mk-ui-background-hover);
    
}

.mk-date-picker-cell {
    width: 14%;
}

.mk-date-picker-day:hover {
    background: var(--mk-ui-background-hover);
    border-radius: 4px;
}

.mk-date-picker-months {
    width: 100%;
}

.mk-date-picker-month {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

}